
body {
    font-family: europa, sans-serif;
    background-color: #ececec;
    font-weight: 500;


}


.context {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;

}
.title{
    font-weight: 500;
    font-size: 60px;
    margin: 0;
    line-height: 1,3;
    letter-spacing: .0001em;
}
.name{

    font-weight: 530;
    font-size:20px;
    margin: 0;
    line-height: 1,3;
    letter-spacing: .0001em;
}

.date{
    font-weight: 550;
    font-size:20px;
    margin: 0;
    line-height: 1,3;
    letter-spacing: .0001em;

}

.g{
    background-color: white;
}

